@import "src/styles/mixins.scss";
@import "src/styles/_variables.scss";


.list {
  @include list-style-none;
  flex-grow: 1;
}

.upper {
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.list__item_footer {
  font-family: $medium-font;
  &:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }

  &:first-child {
    margin-top: 11px;
  }
}

.link {
  font-size: 16px;
  line-height: 19px;
  color: $basic-black;

  &:hover {
    color: $basic-blue;
  }
}

.active {
  color: $basic-blue;
}

