@import "src/styles/mixins.scss";
@import "src/styles/_variables.scss";

.list {
  @include list-style-none;
}

.link {
  font-size: 16px;
  line-height: 19px;
  position: relative;
  color: $basic-black;
  padding-left: 32px;

  &:hover {
    color: $basic-blue;
  }

  svg {
    position: absolute;
    top: -1px;
    left: 2px;
  }

  &:hover path {
    fill: $basic-blue;
  }
}
